{% extends "users/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Main page</h1>

{% if username %}
    <p>You are logged in as {{ username }}</p>

    <!-- Профиль -->
    <a href="{% url 'profile-detail-page' %}">
        <button type="button">Go to Profile</button>
    </a>

    <!-- ПОСТЫ -->
    <div style="margin-top: 15px;">
        <a href="{% url 'posts:all-posts' %}">
            <button type="button">All posts</button>
        </a>

        <a href="{% url 'posts:my-posts' %}">
            <button type="button">My posts</button>
        </a>
    </div>

    <!-- Все теги -->
    <div style="margin-top: 15px;">
        <a href="{% url 'tags:list_tags' %}">
            <button type="button">All tags</button>
        </a>
    </div>

    <!-- Logout -->
    <form action="{% url 'logout' %}" method="post" style="display:inline; margin-top:15px;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <p>You are not logged in</p>
{% endif %}

{% endblock %}
